/* 自定义样式*/
body {
 font-size: 14px;
 font-family: Arial;
}
/* ==========================================================================
   polyfills兼容修复相关样式
   ========================================================================== */
.fix_ie_css3{
/*pie使IE支持CSS3圆角阴影例子：背景如不需要图片，可直接将url(bg-image.png) no-repeat,这部分去掉*/
/*border: 1px solid #ccc;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 -webkit-box-shadow: #666 0px 2px 3px;
 -moz-box-shadow: #666 0px 2px 3px;
 box-shadow: #666 0px 2px 3px;
 background: url(bg-image.png) no-repeat #CCC; 
 background: url(bg-image.png) no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#CCC) to(#EEE));
 background: url(bg-image.png) no-repeat, -webkit-linear-gradient(#CCC, #EEE); 
 background: url(bg-image.png) no-repeat, -moz-linear-gradient(#CCC, #EEE); 
 background: url(bg-image.png) no-repeat, -ms-linear-gradient(#CCC, #EEE);
 background: url(bg-image.png) no-repeat, -o-linear-gradient(#CCC, #EEE);
 background: url(bg-image.png) no-repeat, linear-gradient(#CCC, #EEE);
 -pie-background: url(bg-image.png) no-repeat, linear-gradient(#CCC, #EEE); 
 */
 }
/*响应式布局例子*/
@media only screen and (min-width:760px) {
/* Style*/
}
 @media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
/* Style*/
}

